body { background: black; }

/* Nav */
.nav
{
    height: 10vh;
    width: 100%;

    position: fixed;

    background-color: white;
    opacity: .5;
}

.black
{
    height: 10vh;
    width: 100%;
    background-color: black;
    margin-bottom: 3em;
}

.fimg-responsive {
    height:100%;
    width:100%;
}

.fimg-container
{
    width: 60em;
    height: 20em;
}

.w-60-em
{
    width: 60em;
}

.content-break
{
    height: 10em;
}

.s-header
{
    border-top: solid white 3px;
    border-bottom: solid white 3px;

    height: 2em;

    font-size: 2em;
    text-align: center;
    color: #FFF;

    margin-bottom: 1em;
}